[Desktop Entry]
Type=Application
Name=WezTerm Mux Server
Exec=wezterm-mux-server --daemonize
Icon=org.wezfurlong.wezterm
Terminal=false
Categories=System;TerminalEmulator;
